body {
    padding-top: 5rem;
}

body .container {
    padding-top: 50px;
}

.hidden {
    display: none;
}

.btn {
    cursor: pointer;
}

.jGrowl-notification.error {
    background-color:#ca2222;
}

.jGrowl-notification.success {
    background-color:#22ca8f;
}

form .error-msg {
    color:#ca2222;
}