{% extends "money_transfer/base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}
    <form
            id="form_process_transfer"
            action="."
            method="POST"
    >
        {% csrf_token %}
        {{ form|as_bootstrap_horizontal:"col-md-4" }}
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-submit">Отправить</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer_scripts %}
<script src="{% static 'js/money_transfer.js' %}"></script>
{% endblock %}